.mainBlock {
  padding-block: var(--ds-size-5);
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metaLeft {
  display: flex;
  align-items: center;
  gap: var(--ds-size-3);
  flex-wrap: wrap;
}

.date {
  font-size: var(--ds-body-xs-font-size);
  color: var(--ds-color-neutral-text-subtle);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
