.meta {
  display: flex;
  align-items: center;
  gap: var(--ds-size-3);
  flex-wrap: wrap;
  margin-bottom: var(--ds-size-2);
}

.date {
  font-size: var(--ds-body-xs-font-size);
  color: var(--ds-color-neutral-text-subtle);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.source {
  font-size: var(--ds-font-size-1);
  color: var(--ds-color-neutral-text-subtle);
}
