.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: var(--ds-size-3);
}

.chipGroup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
  margin-top: var(--ds-size-2);
}
