*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --content-max-width: 720px;
  --title-font-size: 6rem;
  font-family: 'Figtree', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--ds-color-neutral-text-default);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--ds-color-neutral-background-tinted);
}
